[Unit]
Description=Service za pildek app
After=network.target

[Service]
ExecStart=/home/lubuntu/.nvm/versions/node/v15.0.1/bin/node pildek.js
WorkingDirectory=/home/lubuntu/jan-projects/pildek/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=lubuntu

[Install]
WantedBy=multi-user.target