/* da povečamo checkbox */
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
  width:18px;
  height:18px;
}

.col-9 {
  font-size: 17px;
}

.col-10 {
  font-size: 17px;
}

#change_btn{
  position: fixed;
  top: 15px;
  right: 15px;
}